# === CREDENCIALES OAuth 2.0 MERCADO LIBRE ===
# Obtén estos valores en: https://developers.mercadolibre.com.mx/devcenter
ML_CLIENT_ID=
ML_CLIENT_SECRET=
ML_REFRESH_TOKEN=

# === CREDENCIALES AFILIADO MERCADO LIBRE ===
# Obtén estos valores en: https://www.mercadolibre.com.mx/afiliados
ML_MATT_TOOL=
ML_MATT_WORD=

# === CONTROL ESTACIONAL ===
IS_HOT_SALE=false
